<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

	<connectionStrings>

		<add name="constr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Cloud Kitchen\Cloud Kitchen\Cloud Kitchen\App_Data\MyKitchen.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient."/>

	</connectionStrings>
    <appSettings>
        <add key="SMTPServer" value="smtp.gmail.com"/>
        <add key="SMTPPort" value="587"/>
        <add key="EmailUsername" value="youremail@gmail.com"/>
        <add key="EmailPassword" value=""/>
    </appSettings>
</configuration>

